<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.myket.billingclient">

    <application>
        <activity
            android:name="ir.myket.billingclient.util.ProxyBillingActivity"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>